<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chi tiết dự án</title>
    <link rel="stylesheet" th:href="@{/md/css/mdb.min.css}">
    <script th:src="@{/md/js/mdb.min.js}"></script>
    <script th:src="@{/jquery-3.7.1.min.js}"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/md/staff-images/logos/favicon.png}" />
    <link rel="stylesheet" th:href="@{/md/staff-css/styles.min.css}" />
    <link rel="stylesheet" th:href="@{/md/staff-css/side-bar.css}">
    <link rel="stylesheet" th:href="@{/md/staff-css/table-for-list.css}">
    <link rel="stylesheet" th:href="@{/md/staff-css/button.css}">
    <link rel="stylesheet" th:href="@{/md/staff-css/form.css}">
    <link rel="stylesheet" th:href="@{/md/staff-css/content.css}">
    <link rel="stylesheet" th:href="@{/md/staff-css/pagination.css}">
    <link rel="stylesheet" th:href="@{/md/staff-css/filter-bar.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a class="text-nowrap logo-img">
                    <img th:src="@{/md/staff-images/logos/dark-logo.svg}" width="180" alt="" />
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-8"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Quản lý người dùng</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./ui-quanlynguoidung.html" aria-expanded="false">
                            <span class="hide-menu no-icon">Quản lý người dùng</span>
                        </a>
                    </li>
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Quản lý dự án</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/request-management}" aria-expanded="false">
                            <span class="hide-menu no-icon">Quản lý yêu cầu</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/project-management}" aria-expanded="false">
                            <span class="hide-menu no-icon">Quản lý dự án</span>
                        </a>
                    </li>
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Quản lý sản phẩm</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./ui-quanlysanpham.html" aria-expanded="false">
                            <span class="hide-menu no-icon">Quản lý sản phẩm</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./ui-quanlyphanloai.html" aria-expanded="false">
                            <span class="hide-menu no-icon">Quản lý phân loại</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./ui-quanlychatlieusanpham.html" aria-expanded="false">
                            <span class="hide-menu no-icon">Quản lý chất liệu</span>
                        </a>
                    </li>
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Quản lý thiết kế mẫu, blog</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="./ui-quanlythietkenoithatmau.html" aria-expanded="false">
                            <span class="hide-menu no-icon">Quản lý thiết kế mẫu</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/blog-management}" aria-expanded="false">
                            <span class="hide-menu no-icon">Quản lý blog</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                           href="javascript:void(0)">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                            <i class="ti ti-bell-ringing"></i>
                            <div class="notification bg-primary rounded-circle"></div>
                        </a>
                    </li>
                </ul>
                <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <div>Trần Nguyên Nhật Minh</div>
                                <img th:src="@{/md/staff-images/profile/user-1.jpg}" alt="" width="35" height="35"
                                     class="rounded-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                            d="M207 381.5L12.7 187.1c-9.4-9.4-9.4-24.6 0-33.9l22.7-22.7c9.4-9.4 24.5-9.4 33.9 0L224 284.5l154.7-154c9.4-9.3 24.5-9.3 33.9 0l22.7 22.7c9.4 9.4 9.4 24.6 0 33.9L241 381.5c-9.4 9.4-24.6 9.4-33.9 0z" />
                                </svg>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                 aria-labelledby="drop2">
                                <div class="message-body">
                                    <a href="ui-profile.html" class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-user fs-6"></i>
                                        <p class="mb-0 fs-3">Profile</p>
                                    </a>
                                    <a href="ui-taikhoan.html"
                                       class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-mail fs-6"></i>
                                        <p class="mb-0 fs-3">Tài khoản</p>
                                    </a>
                                    <a href="./ui-dangnhap.html"
                                       class="btn btn-outline-primary mx-3 mt-2 d-block">Đăng xuất</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--  Header End -->
        <div class="container-fluid">
        </div>



        <!--            TABLE BÁO GIÁ Ở ĐÂY!!!-->
        <div class="container-fluid">
            <div class="container-fluid" style="margin-top: -100px;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">THÔNG TIN CHI TIẾT CỦA DỰ ÁN</h5>
                        <div class="card no-shadow mainProjectInformation">
                            <div class="show-content">
                                <div class="content-inline">
                                    <div id="mainProjectId">ID Dự án: </div>
                                    <div id="projectName">Tên dự án: </div>
                                </div>
                                <div class="content-inline">
                                    <div class="projectCategory" id=projectCategoryId>Loại dự án:
                                    </div>
                                    <div id="staffName">Nhân viên phụ trách: </div>
                                </div>
                                <div class="content-inline">
                                    <div id="customerName">Khách hàng: </div>
                                    <div id="customerPhone">Số điện thoại: </div>
                                </div>
                                <div class="content-inline">
                                    <div id="quotationId">Mã báo giá chính thức: </div>
                                    <div id="quotationName">Tên báo giá: </div>
                                </div>
                                <div class="content-non-inline" id="contentRequestQuotation">Yêu cầu của khách hàng: </div>
                                <div class="content-inline" id=supplierName>Nhà cung cấp: </div>
                            </div>
                            <div class="display-flex justify-content-right display-button" style="margin-bottom: 30px;">
                                <div id="totalPriceOfAllRoom" style="padding-top: 40px; margin-right: 46px">Tổng giá sơ bộ: </div>
                            </div>
                            <form id="detailsForm" style="border: 4px solid #64CCC5; padding: 20px">
                                <div class="form-group" style="padding-bottom: 10px">
                                    <h5 for="projectNameInput">TÊN DỰ ÁN</h5>
                                    <input type="text" class="form-control" id="projectNameInput" aria-describedby="emailHelp" placeholder="Tên dự án">
                                </div>
                                <div class="form-group" style="padding-bottom: 10px">
                                    <h5 for="projectDescriptionInput">MÔ TẢ CỦA DỰ ÁN</h5>
                                    <textarea type="text" class="form-control" id="projectDescriptionInput" aria-describedby="emailHelp" placeholder="Mô tả của dự án"></textarea>
                                </div>
                                <div class="form-group" style="padding-bottom: 10px">
                                    <h5 for="projectStatus">Trạng thái</h5>
                                    <select class="form-select" id="projectStatus">
                                        <option value="0" selected>Hủy</option>
                                        <option value="5">Đang thi công</option>
                                        <option value="6">Đã hoàn thành</option>
                                    </select>
                                </div>

                                <div id="roomsOfProject" class="form-group" style="padding: 20px; border: 4px solid #c6c7c8; margin-bottom: 10px">
                                </div>

                                <button onclick="updateProject()" type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">Cập nhật</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade model-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="margin-right: 600px; margin-top: 200px">
                <div class="modal-content" style="width: 150%">
                    <div class="modal-header">
                        <button type="button" onclick="redirectToProjectDetails()" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" id="closeMainModal"></button>
                    </div>
                    <div class="container-fluid">
                        <div class="container-fluid">
                            <div class="display-form" style="width: 100%">
                                <div class="card-body">
                                    <div class="display-center" style="text-align: center;">
                                        <h8 class="card-title fw-semibold mb-4" style="">Thông tin của dự án đã được cập nhật!</h8>
                                        <div style="padding-top: 15px;"
                                             class="display-flex display-button justify-content-center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script th:href="@{/md/staff-libs/jquery/dist/jquery.min.js}"></script>
<script th:href="@{/md/staff-libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:href="@{/md/staff-js/sidebarmenu.js}"></script>
<script th:href="@{/md/staff-js/app.min.js}"></script>
<script th:href="@{/md/staff-libs/simplebar/dist/simplebar.js}"></script>
<script th:href="@{/md/staff-js/pagination.js}"></script>
<script th:href="@{/md/staff-js/filter.js}"></script>


<script>

    let finalQuotationId;
    $(document).ready(function () {
        // Lấy tham số từ URL
        const urlParams = new URLSearchParams(window.location.search);
        mainProjectId = urlParams.get('mainProjectId');
        getMainProjectInformationById(mainProjectId);
        getFinalQuotation(mainProjectId);
        getQuotationInformationById();
    });
    function getMainProjectInformationById(mainProjectId) {
        $.ajax({
            url: 'http://localhost:8080/api/main-project?mainProjectId=' + mainProjectId,
            method: 'GET',
            contentType: 'application/json',
            success: function (resp) {
                fillMainProjectInformation(resp.data)
                fillDetailsForm(resp.data)
            }
        });
    }
    function fillMainProjectInformation(mainProject) {
        $('#mainProjectId').text('ID Dự án: P' + mainProject.mainProjectId);
        $('#projectName').text('Tên dự án: Main Project ID ' + mainProject.mainProjectId + ' ' + mainProject.customer.firstName + ' ' + mainProject.customer.lastName);
        $('#projectCategoryId').text('Loại dự án: ' + mainProject.quotations[0].project.categoryProject.categoryName);
        $('#staffName').text('Nhân viên phụ trách: ' + mainProject.staff.firstName + ' ' + mainProject.staff.lastName);
        $('#customerName').text('Khách hàng: ' + mainProject.customer.firstName + ' ' + mainProject.customer.lastName);
        $('#customerPhone').text('Số điện thoại: ' + mainProject.customer.phoneNumber);
        $('#projectStatus').val(mainProject.status)
        if($('#projectStatus').val() === "6") {
            $('#projectStatus').prop('disabled', true)
        }
    }
    function getFinalQuotation(mainProjectId) {
        $.ajax({
            url: 'http://localhost:8080/api/main-project/final-quotation?mainProjectId=' + mainProjectId,
            method: 'GET',
            contentType: 'application/json',
            async: false,
            success: function (resp) {
                finalQuotationId = resp.data;
            }
        });
    }
    function getQuotationInformationById() {
        $.ajax({
            url: 'http://localhost:8080/api/quotation/findEagerById?quotationId=' + finalQuotationId,
            method: 'GET',
            contentType: 'application/json',
            success: function (resp) {
                fillQuotationInformation(resp.data)
            }
        });
    }
    function fillQuotationInformation(quotation) {
        $('#quotationId').text('Mã báo giá chính thức: Q' + quotation.quotationId);
        $('#quotationName').text('Tên báo giá: ' + quotation.project.projName);
        $('#projectName').text('Tên dự án: ' + quotation.project.projName);
        $('#contentRequestQuotation').text('Yêu cầu của khách hàng: ' + quotation.contentRequestQuotation)
        $('#supplierName').text('Nhà cung cấp: ' + quotation.project.rooms[0].roomProducts[0].productDetail.supplierProduct.supplier.supName);
        fillRoomsOfQuotation(quotation.project.rooms);
    }
    function fillRoomsOfQuotation(rooms) {
        let previousElement = $('.show-content')
        let str = '';
        let totalPriceOfAllRoom = 0;
        for (let i = 0; i < rooms.length; i++) {
            str += '<label name="lblRoom" style="margin-top: 25px">Chọn loại phòng:</label>\n' +
                '                            <select disabled class="selectRoomCategory form-select" id="roomCategoryId1" style="width: 15%" aria-label="Default select example">\n' +
                '                                    <option>' + rooms[i].categoryRoom.categoryName + '</option>' +
                '                            </select>\n' +
                '                            <table class="content-table show-product" id="manage-product-table1" style="margin-bottom: 0px; margin-top: 5px">\n' +
                '                                <thead>\n' +
                '                                <tr>\n' +
                '                                    <th class="display-column" rowspan="2">Sản phẩm</th>\n' +
                '                                    <th class="display-column" rowspan="2">Mô tả</th>\n' +
                '                                    <th class="display-column" colspan="3">Kích thước</th>\n' +
                '                                    <th class="display-column" rowspan="2">Đơn vị</th>\n' +
                '                                    <th class="display-column" rowspan="2">Số lượng</th>\n' +
                '                                    <th class="display-column" rowspan="2">Đơn giá</th>\n' +
                '                                    <th rowspan="2">Hình tham khảo</th>\n' +
                '                                    <th class="display-column" rowspan="2">Thành tiền</th>\n' +
                '                                    <th rowspan="2"></th>\n' +
                '                                </tr>\n' +
                '                                <tr>\n' +
                '                                    <th>Dài</th>\n' +
                '                                    <th>Rộng</th>\n' +
                '                                    <th>Cao</th>\n' +
                '                                </tr>\n' +
                '                                </thead>\n'
            let sumOfTotalPrice = 0;
            for (let j = 0; j < rooms[i].roomProducts.length; j++) {
                str += '                                <tbody>\n' +
                    '                                <tr class="display-input-none-border">\n' +
                    '                                    <td style="width: 150px">\n' +
                    '                                        <select disabled class="selectProduct" id="product1" style="width: 200px">\n' +
                    '                                                 <option>' + rooms[i].roomProducts[j].productDetail.supplierProduct.product.proName + '</option>' +
                    '                                        </select>\n' +
                    '                                    </td>\n' +
                    '                                    <td style="width: 150px" data-name="txtProductDescription">' + rooms[i].roomProducts[j].productDetail.supplierProduct.product.proDescription + '</td>\n' +
                    '                                    <td style="width: 75px; text-align: center" colspan="1" data-name="txtProductLength">' + rooms[i].roomProducts[j].productDetail.proLength + '</td>\n' +
                    '                                    <td style="width: 75px; text-align: center" colspan="1" data-name="txtProductWidth">' + rooms[i].roomProducts[j].productDetail.proWidth + '</td>\n' +
                    '                                    <td style="width: 75px; text-align: center" colspan="1" data-name="txtProductHeight">' + rooms[i].roomProducts[j].productDetail.proHeight + '</td>\n' +
                    '                                    <td style="width: 93px; text-align: center" data-name="txtProductMeasureUnit">' + rooms[i].roomProducts[j].productDetail.supplierProduct.product.measureUnit.measureUnitName + '</td>\n' +
                    '                                    <td style="width: 75px; text-align: center">' + rooms[i].roomProducts[j].quantity + '</td>\n' +
                    '                                    <td style="width: 68px; text-align: center" data-name="txtProductUnitPrice">' + convertPriceToString(rooms[i].roomProducts[j].productDetail.supplierProduct.unitPrice) + '</td>\n' +
                    '                                    <td></td>\n' +
                    '                                    <td style="text-align: center" data-name="txtProductTotalPrice">' + convertPriceToString(rooms[i].roomProducts[j].totalPrice) + '</td>\n' +
                    '                                    <td><button hidden="" disabled name="btnDeleteRecord" class="delete-icon"><i style="font-size:12px" class="fa">&#xf00d;</i></button></td>\n' +
                    '                                </tr>\n' +
                    '                                </tbody>\n'
                sumOfTotalPrice += rooms[i].roomProducts[j].totalPrice;
            }
            totalPriceOfAllRoom += sumOfTotalPrice;
            str +=    '                                <tfoot>\n' +
                '                                <tr>\n' +
                '                                    <td colspan="9">Tổng sơ bộ</td>\n' +
                '                                    <td class="sumOfTotalPrice text-aligh-center" colspan="1">' + convertPriceToString(sumOfTotalPrice) + '</td>\n' +
                '                                </tr>\n' +
                '                                </tfoot>\n' +
                '                            </table>'
        }
        previousElement.after(str)
        $('#totalPriceOfAllRoom').text('Tổng giá sơ bộ: ' + convertPriceToString(totalPriceOfAllRoom))
    }

    function convertPriceToString(price) {
        // // if (price.split('.').length > 2) {
        // //     price *= 1000;
        // // }
        // console.log(price)
        // return (((price * 1000)).toFixed(0)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '₫';
        // Kiểm tra nếu price không phải là số thập phân
        if (!price.toString().includes('.')) {
            price *= 1000
            return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '₫';
        } else {
            // Nếu là số thập phân, nhân thêm 1000
            price *= 1000000;
            return (price.toFixed(0)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + '₫';
        }
    }

    //form details
    function fillDetailsForm(mainProject) {
        let finalQuotation;
        for (let i = 0; i < mainProject.quotations.length; i++) {
            if (mainProject.quotations[i].status >= 5 || mainProject.quotations[i].status === 0) {
                finalQuotation = mainProject.quotations[i];
                break;
            }
        }
        $('#projectNameInput').val(finalQuotation.project.projName);
        $('#projectDescriptionInput').val(finalQuotation.project.projDes);
        let rooms = finalQuotation.project.rooms;
        let str = "";
        for (let i = 0; i < rooms.length; i++) {
            str += '<div class="form-group roomName" style="padding-bottom: 10px">\n' +
                '                                        <label for="roomNameInput' + (i+1) + '">Tên phòng</label>\n' +
                '                                        <input type="text" class="form-control" id="roomNameInput' + (i+1) + '" aria-describedby="emailHelp" placeholder="Tên phòng" value="' + rooms[i].roomName + '">\n' +
                '                                    </div>\n' +
                '                                    <div class="form-group" style="padding-bottom: 10px">\n' +
                '                                        <label for="roomDescriptionInput' + (i+1) + '">Mô tả của phòng</label>\n' +
                '                                        <textarea type="text" class="form-control" id="roomDescriptionInput' + (i+1) + '" aria-describedby="emailHelp" placeholder="Mô tả của phòng">' + (rooms[i].roomDescription == null ? '' : rooms[i].roomDescription) + '</textarea>\n' +
                '                                    </div>\n' +
                '                                    <div class="form-group imageInputDiv" style="padding-bottom: 10px">\n' +
                '                                        <label for="roomImageInput' + (i+1) + '">Hình ảnh</label>\n' +
                '                                        <input accept=".png, .jpg, image/png, image/jpeg" name="imgFile" type="file" class="form-control" id="roomImageInput' + (i+1) + '" aria-describedby="emailHelp" placeholder="Hình ảnh" multiple required>\n' +
                '                                        <div class="error-message" id="image-error-message' + (i+1) +'"></div>' +
                '                                    </div>\n' +
                '                                    <div class="form-group" id="previewImage' + (i+1) + '" style="padding-bottom: 10px">\n' +
                // '                                        <img src="http://localhost:8080/api/image-room?roomId='+ rooms[i].roomId +'" alt="" style="width: 228px; height: 100px" />\n' +
                '                                        <img src="' + (isRoomHasImage(rooms[i].roomId) ? 'http://localhost:8080/api/image-room?roomId=' + rooms[i].roomId : '') + '" alt="" style="width: 228px; height: 100px" />\n' +
                '                                    </div>' +
                '                                    <hr style="border: 1px solid black">'
            $('#roomsOfProject').append(str);
            fillImageRoom($('#previewImage' + (i+1)))
        }
    }

    function updateProject() {
        console.log($('#projectStatus').val())
        if(parseInt($('#projectStatus').val()) === 6) {
            if (checkInput() === false) return;
        }
        let quotationDTO = {
            quotationId: parseInt(finalQuotationId),
            status: parseInt($('#projectStatus').val()),
            project: {
                projName: $('#projectNameInput').val(),
                projDescription: $('#projectDescriptionInput').val(),
                rooms: []
            }
        };
        $('.roomName').each(function (index) {
            let room = {
                roomName: $(this).find('#roomNameInput' + (index+1)).val(),
                roomDescription: $(this).next().find('#roomDescriptionInput' + (index+1)).val(),
            };
            quotationDTO.project.rooms.push(room);
        });
        $.ajax({
            url: 'http://localhost:8080/api/project/update',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(quotationDTO),
            success: function (resp) {
                console.log(resp);
                if(parseInt($('#projectStatus').val()) === 6) {updateImageRooms()}
            }, error:function (err) {
                console.log(err)
            }
        });
    }

    function updateImageRooms() {
        let formData = new FormData();
        formData.append('finalQuotationId', parseInt(finalQuotationId));
        $('input[type="file"][name="imgFile"]').each(function() {
            let files = $(this).prop('files');
            for (let i = 0; i < files.length; i++) {
                formData.append('multipartFiles', files[i]);
            }
        });
        $.ajax({
            url: 'http://localhost:8080/api/project/update-image-rooms',
            method: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function (resp) {
                console.log(resp);
            }, error:function (err) {
                console.log(err)
            }
        })
    }

    function checkInput() {
        let flag = true;
        // Kiểm tra từng input type file
        $('input[type="file"][name="imgFile"]').each(function(index) {
            let errorMessageId = '#image-error-message' + (index+1); // Lấy ID của thông báo lỗi tương ứng với input
            if ($(this).val() === '') {
                $(errorMessageId).text('Please select an image.').css('color', 'red');
                flag = false;
            }
            else $(errorMessageId).text('')
        });
        return flag
    }

    $(document).on('change', '[name=imgFile]', function () {
        previewImage($(this));
    })

    function previewImage(imgFile) {
        var input = imgFile.get(0);
        let previewImage = imgFile.closest('div').next()

        //var imgCount = $('.previewImage img').length;
        let str = '<img alt="" style="width: 228px; height: 100px" />\n'
        previewImage.html(str)
        previewElement = previewImage.find('img');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                previewElement.attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function isRoomHasImage(roomId) {
        let result = false;
        $.ajax({
            url: 'http://localhost:8080/api/image-room/is-room-has-image?roomId=' + roomId,
            method: 'GET',
            contentType: 'application/json',
            async: false,
            success: function(resp) {
                result = resp.data === true;
            },
            error: function(error) {
                console.error(error);
            }
        });
        return result;
    }

    function fillImageRoom(previewImage) {
        let src = previewImage.find('img').attr('src');
        let imageInputDivClass = previewImage.prev()
        if(src !== '') {
            fetch(src)
                .then(response => response.blob()) // Get the response as Blob
                .then(blob => {
                    // Create a File object from the Blob
                    let file = new File([blob], "", {type: 'image/jpeg'});

                    // Gán đối tượng File vào input[type="file"]
                    const inputElement = imageInputDivClass.find('input').get(0)
                    const fileList = new DataTransfer();
                    fileList.items.add(file);
                    inputElement.files = fileList.files;
                })
                .catch(error => console.error('Error:', error));
        }
        else {
            previewImage.find('img').attr('hidden', true)
            imageInputDivClass.attr('hidden', true)
        }
    }

    $(document).on('change', '#projectStatus', function() {
        let projectStatus = $(this);
        if(projectStatus.val() === "6") {
            $('.imageInputDiv').attr('hidden', false);
        } else {
            $('.imageInputDiv').attr('hidden', true);
        }
    });

    $(document).ready(function() {
        $('#exampleModal').on('hidden.bs.modal', function () {
            redirectToProjectDetails();
        });
    });

    function redirectToProjectDetails() {
        location.reload()
    }

</script>


</body>

</html>